.joy { 
    background-image: url("https://media.istockphoto.com/id/931873664/photo/happy-woman-jumping-and-enjoying-life-at-sunset-in-mountains.jpg?s=612x612&w=0&k=20&c=WtrLSQGLZ-TbBFF0tIr7XUYTdNycbWuVePyblYJNlkI=");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-color: rgb(20, 20, 20); 
}

.sun {
    width: 25vw;
    height: 50%;
    position: absolute;
    right: -75px;
    top: -75px;
    background-color: #ffde00;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 
      0 0 0 20px #ffde0080,
      0 0 0 40px #ffde0040,
      0 0 0 60px #ffde0020,
      0 0 0 80px #ffde0010,
      0 0 0 100px #ffde0000;
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0% {
      box-shadow: 
        0 0 0 20px #ffde0080,
        0 0 0 40px #ffde0040,
        0 0 0 60px #ffde0020,
        0 0 0 80px #ffde0010,
        0 0 0 100px #ffde0000;
    }
    50% {
      box-shadow: 
        0 0 0 40px #ffde0080,
        0 0 0 60px #ffde0040,
        0 0 0 80px #ffde0020,
        0 0 0 100px #ffde0010,
        0 0 0 120px #ffde0000;
    }
    100% {
      box-shadow: 
        0 0 0 20px #ffde0080,
        0 0 0 40px #ffde0040,
        0 0 0 60px #ffde0020,
        0 0 0 80px #ffde0010,
        0 0 0 100px #ffde0000;
    }
}