@import './css/destyle.css';
@import './css/hero.css';
@import './css/sadness.css';
@import './css/joy.css';
@import './css/footer.css';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}


